html {
  font-family: "Poppins", sans-serif;
}

:root {
  --main: #0078aa;
  --secondary: #3ab4f2;
  --primary: #f2df3a;
  --light: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
